body{
  font-family: "Avenir Next";
  background-color: #cccccc;}

/*---------------------.box0--------------------*/
.box0{
  background-color: #999999;
  height:auto;
}
/*--------------Title--------------*/
.title{
  margin:10px,0;
  border:0;
  padding:0;
  font-size:50px;
  text-align: center;
}
/*--------------menu--------------*/
.menu ul{margin:0;
  padding:0;
  list-style:none;}
.menu:after{content:"";
  display:block;
  clear:both;}
.menu li a{display:block;
  padding:5px 20px;font-size:20px;
  text-decoration:none;color:#ffffff;text-align:center;}
.menu li{float:left;width:auto;}
.menu{background-color:#333333;}
/*---------------------.box1--------------------*/

.box1{
height:auto;
margin:0;
padding-top:30px;/*上の謎スペース消し*/
padding-bottom:30px;/*下の謎スペース消し*/
padding-left: 5%;padding-right: 5%;
background-color:#999999;

font-size:15px;
color:#ffffff;
transition: all 500ms 0s ease;}

.box1 a{
  color:#ffffff;  
  transition: all 200ms 0s ease;}

.box1 a:hover{
  color:#333333;
  font-size:20px;}

/*---------------------.box2--------------------*/
.text2{
height:auto;margin:0;
padding-top:30px;padding-bottom:30px;/*上下の謎スペース消し*/
padding-left: 5%;padding-right: 5%;
background-color:#ffffff;
transition: all 500ms 0s ease;}
.text2:hover{background-color:#333333;}

.text2 h2{
  font-size:20px;
  color:#ffffff;}
.text2 p{
  font-size:15px;
  color:#ffffff;}
/*---------------------.box3--------------------*/
.box3{
height:auto;
margin:0;
padding-top:30px;/*上の謎スペース消し*/
padding-bottom:10px;/*下の謎スペース消し*/
padding-left: 5%;padding-right: 5%;
background-color:#999999;}
.box3 h3{
  font-size:20px;
  color:#ffffff;}
.box3 p{
  font-size:15px;
  color:#ffffff;}
/*--------------A3--------------*/
.A3{
  background-color:#d14444;
  height:50px;
  width:100px;
  transition: all 500ms 0s ease;
}
.A3:hover{
  background-color:#d14444;
  width:200px;
  letter-spacing: 10px;/*文字の間隔調整*/
}
.A3 p{
  text-align: center;
  padding-top:20px;
  font-size:10px;
  color:#ffffff;
}
/*--------------B3--------------*/
.B3{
  background-color:#d14444;
  height:50px;
  width:100px;
  transition: all 800ms 0s ease;
}
.B3:hover{
  background-color:#5b2ace;
  width:200px;
  letter-spacing: 10px;/*文字の間隔調整*/
}
.B3 p{
  text-align: center;
  padding-top:20px;
  font-size:10px;
  color:#ffffff;
}
/*--------------C3--------------*/
.C3{
  background-color:#d14444;
  height:50px;
  width:100px;
  transition: all 1200ms 0s ease;
}
.C3:hover{
  background-color:#d14444;
  width:200px;
  padding-left:100Px;
  letter-spacing: 10px;/*文字の間隔調整*/
}
.C3 p{
  text-align: center;
  padding-top:20px;
  font-size:10px;
  color:#ffffff;
}


/*---------------------.box4--------------------*/
.box4{
  height:auto;
  padding-top:30px;/*上の謎スペース消し*/
  padding-bottom:10px;/*下の謎スペース消し*/
  padding-left: 5%;padding-right: 5%;
  background-color: #333333;

  color:#ffffff;
}

.box4 a{
  color:#ffffff;  
  transition: all 200ms 0s ease;}

.box4 a:hover{
  font-size:20px;}


/*ボックス全体*/
.accbox {
  margin: 2em 0;
  padding: 0;
  max-width: 400px;/*最大幅*/
}

/*ラベル*/
.accbox label {
  display: block;
  margin: 20px 10px;
  padding : 11px 12px;
  color :#2f8fcf;
  font-weight: bold;
  background :#a4cbf3;
  cursor :pointer;
  transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox label:hover {
  background :#85baef;
}

/*チェックは隠す*/
.accbox input {
  display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}